################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Reflection/.vs/Reflection/v16/Server/sqlite3/db.lock
Reflection/.vs/Reflection/v16/.suo
Reflection/.vs/Reflection/v16/.suo
Reflection/.vs/Reflection/v16/Server/sqlite3/storage.ide
Reflection/.vs/Reflection/v16/Server/sqlite3/storage.ide-shm
Reflection/.vs/Reflection/v16/Server/sqlite3/storage.ide-wal
